body {
    padding-bottom: 20px;
}

.bg-faded {
    background-color: #3d4b66;  /* HSB 220,40,40 */
}

.navbar-brand>object {
    display: inline;
    padding-bottom: 5px;
    vertical-align: middle;
}

.nav-item .dropdown-menu {
    left: inherit;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.val-name {
    max-width: 12.0rem;
}

.val-extensions,
.val-filter,
.val-git-directory,
.val-git-extract-regex,
.val-modifier,
.val-modified {
    max-width: 6.0rem;
}

#chart {
    max-width: 98%;
    max-height:480px;
    height: 480px;
}

.table th,
.table thead th,
.table tbody tr:first-child td {
    border: 0;
}

.table thead {
    background-color: #cfd6e6;  /* HSB 220,10,90 */
}

.navigator {
    margin-bottom: 2rem;
}

.navigator .navbar {
    border-radius: 0;
}

.popover {
    max-width: 480px;
}
