<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragment::header(title=${title})">
    <meta charset="UTF-8"/>
    <title></title>
    <link rel="icon" href="../static/app/img/favicon.ico"/>
    <link href="../static/jquery-ui.slider/css/jquery-ui.min.css" rel="stylesheet"/>
    <link href="../static/jquery-ui.slider/css/jquery-ui.structure.min.css" rel="stylesheet"/>
    <link href="../static/jquery-ui.slider/css/jquery-ui.theme.min.css" rel="stylesheet"/>
    <link href="../static/bootstrap4a2/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="../static/c3/css/c3.min.css" rel="stylesheet"/>
    <link href="../static/app/css/style.css" rel="stylesheet"/>
</head>
<body>
<div th:replace="_fragment::navigator" class="navigator">
    <nav class="navbar navbar-dark navbar-static-top bg-inverse bg-faded">
        <div class="collapse navbar-toggleable-xs" id="navbar-header">
            <a class="navbar-brand" href="/">
                <object type="image/svg+xml" data="../static/app/img/logo.svg" alt="logo" width="32" height="32"></object>
                whisker
            </a>
        </div>
    </nav>
</div>
<div class="container">
    <h1 class="text-uppercase" th:text="${title}">Title</h1>
    <p class="lead"></p>
    <table class="table">
        <thead>
        <tr>
            <th>
                <div class="text-nowrap">
                    <label for="filter-complexity">Filter complexity:</label>
                    <input type="text" id="filter-complexity" readonly="readonly"/>
                </div>
                <div id="filter-complexity-slider"></div>
            </th>
            <th>
                <div class="text-nowrap">
                    <label for="filter-impact">Filter impact:</label>
                    <input type="text" id="filter-impact" readonly="readonly"/>
                </div>
                <div id="filter-impact-slider"></div>
            </th>
            <th>
                <div class="text-nowrap">
                    <label for="filter-dependency">Filter dependency:</label>
                    <input type="text" id="filter-dependency" readonly="readonly"/>
                </div>
                <div id="filter-dependency-slider"></div>
            </th>
            <th class="text-xs-right"><a id="chart-reset" href="#">Reset scale</a></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="4">
                <div id="chart"></div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:replace="_fragment::footer">
<script src="../static/jquery2/js/jquery.min.js"></script>
<script src="../static/jquery-ui.slider/js/jquery-ui.min.js"></script>
<script src="../static/bootstrap4a2/js/bootstrap.min.js"></script>
<script src="../static/d3/js/d3.min.js"></script>
<script src="../static/c3/js/c3.min.js"></script>
<script src="../static/app/js/app.js"></script>
</footer>
<script th:inline="javascript">
/*<![CDATA[*/
(function init() {
    var url = /*[[ @{/api/v1} + ${metricsApi} ]]*/ '../static/app/js/example.json';
    var type = /*[[ ${chart} ]]*/ 'chartType';
    var xaxis = /*[[ ${xaxis} ]]*/ 'xaxis';
    var yaxis = /*[[ ${yaxis} ]]*/ 'yaxis';
    var xaxisTooltip = /*[[ ${xaxisTooltip} ]]*/ 'xaxisTooltip';
    var yaxisTooltip = /*[[ ${yaxisTooltip} ]]*/ 'yaxisTooltip';
    var chart = new Chart('#chart', type, xaxis, yaxis, xaxisTooltip, yaxisTooltip);
    var cache;

    $.ajax({
        type: 'GET',
        url: url,
        contentType: 'application/json',
        processData: false,
        dataType: 'json'
    }).done(function(data) {
        cache = data;
        chart.draw(cache);

        var ranges = extractRanges(cache);
        slider($('#filter-complexity'), $('#filter-complexity-slider'), ranges.x.min, ranges.x.max);
        slider($('#filter-impact'), $('#filter-impact-slider'), ranges.y.min, ranges.y.max);
        slider($('#filter-dependency'), $('#filter-dependency-slider'), ranges.z.min, ranges.z.max);
    }).fail(function(error, textStatus, $xhr) {
        console.log(error);
    });

    $('#chart-reset').on('click', function() {
        chart.reset();
    });

    var extractRanges = function(data) {
        var ranges = {
            x: {min: 0, max:0},
            y: {min: 0, max:0},
            z: {min: 0, max:0}
        };

        for (var i = 0; i < data.length; i++) {
            var d = data[i];

            var x = d.xs;
            var y = d.ys;
            var z = d.zs;

            for (var j = 0; j < x.length; j++) {
                if (ranges.x.max < x[j]) {
                    ranges.x.max = x[j];
                }
            }

            for (var j = 0; j < y.length; j++) {
                if (ranges.y.max < y[j]) {
                    ranges.y.max = y[j];
                }
            }

            for (var key in z) {
                var zz = z[key];
                for (var j = 0; j < zz.length; j++) {
                    if (ranges.z.max < zz[j].value) {
                        ranges.z.max = zz[j].value;
                    }
                }
            }
        }

        return ranges;
    }

    var slider = function($input, $slider, min, max, range) {
        var rangeValue = range || [min, max];

        $slider.slider({
            range: true,
            min: min,
            max: max,
            values: rangeValue,
            slide: function(event, ui) {
                $input.val(ui.values[0] + '-' + ui.values[1]);
            },
            change: function() {
                var complexityValues = $('#filter-complexity').val().split('-');
                var impactValues = $('#filter-impact').val().split('-');
                var dependencyValues = $('#filter-dependency').val().split('-');

                var ranges = {
                    x: {min: complexityValues[0], max: complexityValues[1]},
                    y: {min: impactValues[0], max: impactValues[1]},
                    z: {min: dependencyValues[0], max: dependencyValues[1]}
                };

                chart.draw(cache, ranges);
            }
        });

        $input.val($slider.slider('values', 0) + '-' + $slider.slider('values', 1));
    };
})();
/*]]>*/
</script>
</body>
</html>
