<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragment::header (title=${title} + ' - bluefairy')">
    <meta charset="UTF-8"/>
    <title></title>
    <link rel="icon" href="../static/app/img/favicon.ico"/>
    <link href="../static/bootstrap4a2/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="../static/c3/css/c3.min.css" rel="stylesheet"/>
    <link href="../static/app/css/style.css" rel="stylesheet"/>
</head>
<body>
<div th:replace="_fragment::navigator" class="navigator">
    <nav class="navbar navbar-dark navbar-static-top bg-inverse bg-faded">
        <div class="collapse navbar-toggleable-xs" id="navbar-header">
            <a class="navbar-brand" href="/">
                <object type="image/svg+xml" data="../static/app/img/logo.svg" alt="logo" width="32" height="32"></object>
                whisker
            </a>
        </div>
    </nav>
</div>
<div class="container">
    <h1 class="text-uppercase" th:text="${title}">Title</h1>
    <p class="lead"></p>
    <table class="table">
        <thead>
        <tr>
            <th><input id="checkbox-zero" type="checkbox"/> Filter 0 value</th>
            <th><input id="checkbox-over" type="checkbox"/> Filter oversized value</th>
            <th class="text-xs-right"><a id="chart-reset" href="#">Reset scale</a></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="3">
                <div id="chart"></div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:replace="_fragment::footer">
<script src="../static/jquery2/js/jquery.min.js"></script>
<script src="../static/bootstrap4a2/js/bootstrap.min.js"></script>
<script src="../static/d3/js/d3.min.js"></script>
<script src="../static/c3/js/c3.min.js"></script>
<script src="../static/app/js/app.js"></script>
</footer>
<script th:inline="javascript">
/*<![CDATA[*/
(function init() {
    var chart = new Chart('#chart', /*[[ ${chart} ]]*/ 'chartType');
    var url = /*[[ @{/api/v1} + ${metricsApi} ]]*/ '../static/app/js/example.json';
    var cache;

    $.ajax({
        type: 'GET',
        url: url,
        contentType: 'application/json',
        processData: false,
        dataType: 'json'
    }).done(function(data) {
        cache = data;
        chart.draw(cache);
    }).fail(function(error, textStatus, $xhr) {
        console.log(error);
    });

    $('#chart-reset').on('click', function() {
        chart.reset();
    });

    $('#checkbox-zero, #checkbox-over').on('click', function() {
        var checkedZero = $('#checkbox-zero').prop("checked");
        var checkedOver = $('#checkbox-over').prop("checked");

        chart.draw(cache, checkedZero, checkedOver);
    });
})();
/*]]>*/
</script>
</body>
</html>
